nav {
  padding: 1%;
  margin: 1%;
  text-align: center;
}

.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.margin-bottom{
  margin-bottom: 2vh;
}
.margin-side{
  margin-left: 1vh;
  margin-right: 1vh;;
}

.correction {
  margin-left: 10%;
  margin-right: 10%;
}
.turn-page{
  padding: 1%;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
}

#flag {
  width: 512px;
}
#country{
  height: 100vh;
}