nav {
  padding: 1%;
  margin: 1%;
  text-align: center;
}

.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.margin-bottom{
  margin-bottom: 2vh;
}
.margin-side{
  margin-left: 1vh;
  margin-right: 1vh;;
}

.correction {
  position: relative;
  margin-left: 0 auto;
  display: inline-block;
}
.turn-page{
  padding: 1%;
  width: 100vw;
  height: auto;
  text-align: center;
}

#flag {
  height: 200px;
}
#country{
  height: auto;
}
#isDisplay{
  text-align: center;
}