nav {
  height: 20vh;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.margin-bottom{
  margin-bottom: 2vh;
}
.margin-side{
  margin-left: 1vh;
  margin-right: 1vh;;
}

.correction {
  position: relative;
/*   margin-left: 0 auto; */
  display: inline-block;
}
.turn-page{

/*   padding: 1%;
 */  width: 100vw;
  text-align: center;
}

#flag {
  height: 200px;
}
#isDisplay{
  text-align: center;
}
.all-nav{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}